* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* ***** STYLES for --H1-- && --FOOTER-- on the --LogIn-- && --SignUp-- PAGES */
.landing-page {
  width: 500px;
  height: 600px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    180deg,
    rgb(40, 100, 205) 0%,
    rgb(63, 125, 179) 35%,
    rgb(112, 191, 217) 100%
  );
}
.landing-page h1 {
  color: silver;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  width: 250px;
  line-height: 1.5;
  text-align: center;
}

.landing-page footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  text-shadow: 1px 2px 15px rgb(19, 115, 109);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(198, 235, 233);
  margin-top: 30%;
}

.landing-page footer a {
  color: rgb(224, 243, 238);
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.5px;
  text-decoration: none;
  line-height: 0.8;
}

.landing-page footer a:hover {
  font-size: 20px;
  text-shadow: 5px 3px 10px rgb(65, 78, 81);
}

/* ***** STYLES for the --LogIn-- && --SignUp-- FORMS: */
.logIn-signUp-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  margin: auto;
}

.logIn-signUp-form input {
  color: #2c4179;
  border-radius: 15px;
  box-shadow: 3px 3px 7px #364775;
  padding: 11px;
}

.logIn-signUp-form button {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(246, 244, 236);
  background-color: rgb(59, 104, 181);
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 3px 7px #2c4179;
  padding: 7px;
  padding-top: 10px;
}

.logIn-signUp-form button:hover {
  transform: scale(1.05);
  background-color: #3b508a;
}


