.appClassForCalculations{
  background-color: white;
  border: 2px solid rgb(236, 229, 229);
  border-radius: 2rem;
  width: 50%;
  margin: 0 auto;
  background:linear-gradient(to top right,white,rgb(210, 229, 235));
  padding: 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 2px 2px gray;
}
